<h1>Viewing Party Lite</h1>
<br>
<%= link_to "Register as a User", new_users_path%>
<br>
<%= link_to "I already have an account", login_path %>
<br>
<h3>Current users</h3>
<% @users.each do |user| %>
<div id="user-<%=user.id%>">
  <p><%= link_to "#{user.email}'s dashboard", users_path %></p></div>
  <% end %>